.UserPlansContainer{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjusts for element dimensions */
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

