.PlanName{
    color: #0B1668;
    font-weight: 500;
    margin-left:42%;
    margin-top: 50px;
}
.UserPlanDetailsContainer{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjusts for element dimensions */
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.ColumnName{
    width: 100%;
    height:50px;
    border: 1px solid #29252542;
    display: flex;
    justify-content: space-evenly;
}

.ColName{
    width: 25%;
    height: 100%;
    /* border: 1px solid red; */
}